@charset "UTF-8";
html,
body {
  height: 100vh;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif; }

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  /*cover заполняет полностью с сохранением пропорций, contain помещает внутри по центру с сохранением пропорций*/ }

.container {
  min-height: 100vh;
  /*для прижания футера к низу экрана*/
  background-color: #FFFFFF; }

.button {
  display: inline-block;
  border: 4px solid #FFCC00;
  width: 55vmin;
  height: 13vmin;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 5vmin;
  line-height: calc(13vmin - 8px);
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms; }
  .button:hover, .button:focus {
    border-color: #FFFFFF;
    background-color: #FFCC00; }
  .button:active {
    -webkit-box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.35); }
  @media screen and (min-width: 620px) and (orientation: portrait) {
    .button {
      width: 42vw;
      height: 9vw;
      line-height: calc(9vw - 8px);
      font-size: 4vmin; } }
  @media screen and (min-width: 1000px) {
    .button {
      width: 32vw;
      height: 7vw;
      line-height: calc(7vw - 8px);
      font-size: 3.5vmin; } }
  @media screen and (min-width: 1200px) {
    .button {
      width: 25vw;
      height: 6vw;
      line-height: calc(6vw - 8px);
      font-size: 3.2vmin; } }
  @media screen and (min-width: 1400px) {
    .button {
      width: 23vw;
      height: 5vw;
      line-height: calc(5vw - 8px);
      font-size: 3.2vmin; } }
  @media screen and (min-width: 1921px) {
    .button {
      width: 440px;
      height: 96px;
      line-height: 88px;
      font-size: 34px; } }

.link {
  color: #2C3E50; }
  .link:hover {
    color: #FFCC00; }

.link_white {
  color: #FFFFFF; }

.section-name {
  padding: 20px 0;
  line-height: 10vmin;
  font-size: 10vmin;
  font-weight: bold; }
  @media screen and (min-width: 500px) and (orientation: portrait) {
    .section-name {
      line-height: 42px;
      font-size: 42px; } }
  @media screen and (min-width: 840px) {
    .section-name {
      line-height: 50px;
      font-size: 42px; } }
  @media screen and (min-width: 1400px) {
    .section-name {
      line-height: 56px; } }

.about {
  font-size: 5vmin;
  line-height: 6vmin;
  font-style: italic;
  opacity: .8; }
  @media screen and (min-width: 620px) and (orientation: portrait) {
    .about {
      line-height: 5vmin;
      font-size: 4vmin; } }
  @media screen and (min-width: 1000px) {
    .about {
      line-height: 40px;
      font-size: 30px; } }
  @media screen and (min-width: 1921px) {
    .about {
      line-height: 48px;
      font-size: 38px; } }

.scroller {
  position: fixed;
  z-index: 9;
  bottom: 15px;
  left: 15px;
  display: none;
  width: 17vmin;
  height: 17vmin;
  border-radius: 50%;
  -webkit-box-shadow: 2px 6px 21px 5px rgba(33, 33, 33, 0.7);
  box-shadow: 2px 6px 21px 5px rgba(33, 33, 33, 0.7);
  background: url(../media/images/arrow-up2.svg) no-repeat left top, rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms; }
  .scroller:active {
    bottom: 13px;
    -webkit-box-shadow: 1px 4px 21px 5px rgba(33, 33, 33, 0.5);
    box-shadow: 1px 4px 21px 5px rgba(33, 33, 33, 0.5); }
  @media screen and (min-width: 620px) and (orientation: portrait) {
    .scroller {
      width: 12vmin;
      height: 12vmin; } }
  @media screen and (min-width: 1000px) {
    .scroller {
      width: 80px;
      height: 80px; } }
  @media screen and (min-width: 2000px) {
    .scroller {
      bottom: 30px;
      left: calc((100vw - 1920px) / 2); }
      .scroller:active {
        bottom: 28px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 7vh 4vw 5vh;
  min-height: 100vh;
  text-align: center;
  line-height: 11vmin;
  font-size: 9vmin;
  background: url("../media/images/header-bg-opacity.png") no-repeat center top fixed, url("../media/images/header-bg.jpg") no-repeat center top fixed;
  background-size: cover; }
  @media screen and (min-width: 620px) and (orientation: portrait) {
    .header {
      line-height: 9.5vmin;
      font-size: 8vmin; } }
  @media screen and (min-width: 1000px) {
    .header {
      line-height: 9vmin;
      font-size: 7vmin; } }
  @media screen and (min-width: 1400px) {
    .header {
      line-height: 7.5vmin;
      font-size: 6.5vmin; } }
  @media screen and (min-width: 1921px) {
    .header {
      padding: 7vh calc((100vw - 1920px) / 2) 5vh;
      line-height: 82px;
      font-size: 70px; } }

.name {
  padding: 0 5px;
  line-height: 14vmin;
  background-color: #FFCC00; }
  @media screen and (min-width: 1921px) {
    .name {
      line-height: 150px; } }

@media screen and (orientation: landscape) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.menu__button {
  margin: 2vh 2vw; }
  @media screen and (min-width: 1921px) {
    .menu__button {
      margin: 22px 38px; } }

.content {
  text-align: center;
  color: #2C3E50; }

.portfolio {
  padding: 5vmin; }
  @media screen and (min-width: 1000px) {
    .portfolio {
      padding: 40px; } }
  @media screen and (min-width: 1921px) {
    .portfolio {
      padding: 54px calc((100vw - 1920px) / 2); } }

.portfolio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.portfolio-box__work-box {
  margin-bottom: 50px; }
  @media screen and (min-width: 1000px) {
    .portfolio-box__work-box {
      margin: 0 20px 50px; } }

.work-box {
  position: relative;
  width: 90vw;
  height: 90vh;
  overflow: hidden;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-shadow: 0 26px 44px -5px #2C3E50;
  box-shadow: 0 26px 44px -5px #2C3E50; }
  @media screen and (min-width: 300px) and (orientation: portrait) {
    .work-box {
      height: 80vh; } }
  @media screen and (min-width: 300px) and (orientation: landscape) {
    .work-box {
      height: 250vh; } }
  @media screen and (min-width: 1000px) {
    .work-box {
      width: 41vw;
      height: 650px; } }
  @media screen and (min-width: 1330px) {
    .work-box {
      height: 700px; } }
  @media screen and (min-width: 1500px) {
    .work-box {
      height: 780px; } }
  @media screen and (min-width: 1900px) {
    .work-box {
      width: 566px;
      height: 900px; } }

.work-box__description-hidden {
  position: absolute;
  top: 50px;
  /* 50px - высота блока .open-btn */
  max-height: calc(100% - 50px - 1px);
  /* 50px - высота блока .open-btn */
  width: 100%;
  opacity: 0;
  padding: 4vmin;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  overflow: hidden;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7); }
  @media screen and (min-width: 355px) {
    .work-box__description-hidden {
      padding: 5vmin; } }
  @media screen and (min-width: 500px) {
    .work-box__description-hidden {
      padding: 6vmin; } }
  @media screen and (min-width: 1900px) {
    .work-box__description-hidden {
      padding: 40px; } }

.open-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 4.5vmin;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8); }
  .open-btn:hover, .open-btn:active {
    background-color: rgba(0, 0, 0, 0.9); }
  @media screen and (min-width: 500px) {
    .open-btn {
      height: 70px; } }
  @media screen and (min-width: 700px) {
    .open-btn {
      font-size: 18px; } }

.open-btn__icon {
  margin-left: 15px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }

.open-btn_active ~ .work-box__description-hidden {
  opacity: 1;
  border-top: 1px solid #FFFFFF;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }
  @media screen and (min-width: 500px) {
    .open-btn_active ~ .work-box__description-hidden {
      top: 70px;
      /* 70px - высота блока .open-btn */
      max-height: calc(100% - 70px - 1px);
      /* 70px - высота блока .open-btn */ } }
.open-btn_active > .open-btn__icon {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.work-name {
  font-size: 6vmin;
  line-height: 6vmin; }
  @media screen and (min-width: 600px) and (orientation: portrait) {
    .work-name {
      line-height: 36px;
      font-size: 36px; } }
  @media screen and (min-width: 1000px) {
    .work-name {
      line-height: 26px;
      font-size: 26px; } }
  @media screen and (min-width: 1900px) {
    .work-name {
      line-height: 30px;
      font-size: 30px; } }

.about-work {
  overflow: hidden;
  line-height: 8vmin;
  vertical-align: text-bottom; }
  @media screen and (min-width: 620px) and (orientation: portrait) {
    .about-work {
      line-height: 6vmin; } }
  @media screen and (min-width: 1000px) {
    .about-work {
      line-height: 34px;
      font-size: 22px; } }

.portfolio-box__button {
  margin: 5vmin 0; }
  @media screen and (min-width: 1000px) {
    .portfolio-box__button {
      margin: 28px 0;
      width: 300px;
      height: 56px;
      line-height: 48px;
      font-size: 26px; } }
  @media screen and (min-width: 1900px) {
    .portfolio-box__button {
      margin: 54px 0;
      width: 340px;
      height: 76px;
      line-height: 68px;
      font-size: 26px; } }

.contacts {
  padding: 5vmin;
  overflow: hidden;
  color: #FFFFFF;
  background: url("../media/images/contacts-bg.jpg") no-repeat center bottom fixed;
  background-size: cover; }
  @media screen and (min-width: 1000px) {
    .contacts {
      padding: 40px; } }
  @media screen and (min-width: 1921px) {
    .contacts {
      padding: 54px calc((100vw - 1920px) / 2); } }

.contacts__contacts-box {
  margin: 0 auto; }

.contacts-box {
  padding: 20px 10px;
  max-width: 90vw;
  line-height: 8vmin;
  font-size: 6vmin;
  font-weight: normal;
  background-color: rgba(33, 33, 33, 0.7); }
  @media screen and (min-width: 500px) and (orientation: portrait) {
    .contacts-box {
      line-height: 46px;
      font-size: 30px; } }
  @media screen and (min-width: 700px) {
    .contacts-box {
      max-width: 70vw; } }
  @media screen and (min-width: 1000px) {
    .contacts-box {
      max-width: 60vw;
      line-height: 46px;
      font-size: 30px; } }
  @media screen and (min-width: 1240px) {
    .contacts-box {
      line-height: 42px;
      font-size: 26px; } }
  @media screen and (min-width: 1900px) {
    .contacts-box {
      width: 700px; } }

.contacts__myname {
  margin-bottom: 15px; }

.myname {
  background-color: #FFCC00; }

.contacts__icon {
  display: inline-block;
  margin-right: 10px;
  height: 4vmin; }
  @media screen and (min-width: 500px) and (orientation: portrait) {
    .contacts__icon {
      margin-right: 15px;
      height: 23px; } }
  @media screen and (min-width: 1000px) {
    .contacts__icon {
      margin-right: 15px;
      height: 23px; } }
  @media screen and (min-width: 1240px) {
    .contacts__icon {
      height: 18px; } }

.nowrap {
  white-space: nowrap; }

.footer {
  height: 60px;
  margin-top: -60px;
  /*для прижания футера к низу экрана (равно футеру)*/
  text-align: center;
  line-height: 60px;
  font-size: 4vmin;
  background: url("../media/images/footer-bg.jpg") no-repeat center bottom fixed;
  background-size: cover; }
  @media screen and (min-width: 410px) {
    .footer {
      font-size: 16px; } }

.clr:after {
  content: "";
  height: 60px;
  /*высота, равная футеру*/
  display: block; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/*# sourceMappingURL=main.css.map */
