@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Segoe WP Light';
  src: local('☺'), url('../media/fonts/SegoeWP/SegoeWP-Light.woff') format('woff'), url("../media/fonts/SegoeWP/SegoeWP-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Segoe WP Black';
  src: local('☺'), url('../media/fonts/SegoeWP/SegoeWP-Black.woff') format('woff'), url("../media/fonts/SegoeWP/SegoeWP-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Segoe WP';
  src: local('☺'), url('../media/fonts/SegoeWP/SegoeWP Regular.woff') format('woff'), url("../media/fonts/SegoeWP/SegoeWP Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'StRyde-Regular';
  src: url('../media/fonts/StRyde/stryde-regular-webfont.eot');
  src: local('☺'), url('../media/fonts/StRyde/stryde-regular-webfont.woff') format('woff'), url('../media/fonts/StRyde/stryde-regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NewAthenaUnicode";
  src: url("../media/fonts/NewAthenaUnicode/newathu.eot") format("eot");
  src: local('☺'), url("../media/fonts/NewAthenaUnicode/newathu.woff") format("woff"), url("../media/fonts/NewAthenaUnicode/newathu.ttf") format("truetype"), url("../media/fonts/NewAthenaUnicode/newathu.svg#NewAthenaUnicode") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  font-size: 10px;
  background-color: #ffffff;
}
.container {
  min-height: 100%;
  /*для прижания футера к низу экрана*/
  font-size: 1.6rem;
}
.header {
  margin: 0 auto;
  max-width: 128rem;
  min-height: 10rem;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .header {
    max-width: 100rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .header {
    max-width: 75rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .header {
    max-width: 62rem;
  }
}
@media screen and (max-width: 619px) {
  .header {
    max-width: 32rem;
  }
}
.header__logo {
  float: left;
  margin: 2.2rem 0 0 16.4rem;
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .header__logo {
    margin: 2.2rem 0 0 7.4rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .header__logo {
    margin: 2.2rem 0 0 3.4rem;
  }
}
@media screen and (max-width: 619px) {
  .header__logo {
    float: none;
    margin: 2.2rem auto;
  }
}
.header__nav {
  padding: 4.2rem 14.3rem;
  text-align: right;
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .header__nav {
    padding: 4.2rem 7.4rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .header__nav {
    padding: 4.2rem 3.4rem;
  }
}
@media screen and (max-width: 619px) {
  .header__nav {
    padding: 0 0 2.2rem;
    text-align: center;
  }
}
.logo {
  display: block;
  width: 17.9rem;
  text-decoration: none;
  font-family: "StRyde-Regular";
  color: #038c8c;
}
.logo__text {
  margin: 0;
  font-size: 4.3rem;
  font-weight: 400;
}
.logo__capital-letter {
  display: inline-block;
  margin-right: 0.7rem;
  height: 6.6rem;
  width: 4.9rem;
  text-align: center;
  line-height: 5.9rem;
  font-family: "Segoe WP Light";
  font-size: 4.3rem;
  font-weight: 400;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #42eee3 1.1rem, #2ee2d6 1.2rem, #2ee2d6 2.2rem, #1fd0c4 2.3rem, #1fd0c4 3.3rem, #17c0b5 3.4rem, #17c0b5 4.4rem, #0eb0a5 4.5rem, #0eb0a5 5.5rem, #0aa096 5.6rem, #0aa096 6.6rem);
}
.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu__item {
  display: inline-block;
  padding: 0 2rem;
  border-right: 0.1rem solid #565656;
}
.menu__item:last-child {
  border-right: none;
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .menu__item {
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 619px) {
  .menu__item {
    padding: 0 1rem;
  }
}
.menu__link {
  text-decoration: none;
  font-family: "Segoe WP Light";
  font-size: 1.9rem;
  font-weight: 300;
  color: #565656;
  -webkit-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.menu__link:hover {
  text-decoration: underline;
  color: #079491;
}
.menu__link:active {
  text-decoration: underline;
  color: #079491;
}
.content {
  width: 128rem;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .content {
    max-width: 100rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .content {
    max-width: 75rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .content {
    max-width: 62rem;
  }
}
@media screen and (max-width: 619px) {
  .content {
    max-width: 32rem;
  }
}
.content__about {
  margin: 0 auto;
}
.banners {
  position: relative;
  width: 100%;
  height: 53.9rem;
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banners {
    min-height: 100rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banners {
    min-height: 100rem;
  }
}
@media screen and (max-width: 619px) {
  .banners {
    min-height: 80rem;
  }
}
.banners_big {
  min-height: 69.8rem;
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banners_big {
    min-height: 82rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banners_big {
    min-height: 82rem;
  }
}
@media screen and (max-width: 619px) {
  .banners_big {
    min-height: 65rem;
  }
}
.banners__tabs {
  margin: 0;
  padding: 0;
  text-align: right;
  list-style-type: none;
}
.banners__tab {
  display: inline-block;
}
.banners__slider {
  position: absolute;
  opacity: 0;
}
.banners__slider:checked ~ .banners__banner {
  display: block;
}
.banners__slider:checked + .banners__shape > .banners__shape-triangle {
  display: block;
}
.banners__shape {
  position: relative;
  display: inline-block;
  z-index: 999;
  margin: 0;
  width: 11.9rem;
  height: 12.3rem;
  padding: 0;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}
.banners__shape:hover {
  -webkit-filter: contrast(180%);
  filter: contrast(180%);
}
.banners__shape:active {
  -webkit-filter: contrast(180%);
  filter: contrast(180%);
}
@media screen and (max-width: 619px) {
  .banners__shape {
    width: 10.666666rem;
  }
}
.banners__shape_big {
  width: 21.33333333rem;
  height: 17rem;
}
.banners__shape_big:hover {
  filter: none;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banners__shape_big {
    width: 16.66666667rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banners__shape_big {
    width: 12.5rem;
    height: 12.5rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banners__shape_big {
    width: 10.33333333rem;
    height: 12.5rem;
  }
}
@media screen and (max-width: 619px) {
  .banners__shape_big {
    width: 5.33333333rem;
    height: 6.5rem;
  }
}
.banners__shape-triangle {
  display: none;
  position: absolute;
  top: 12.4rem;
  left: 5rem;
  border: 1.1333rem solid transparent;
}
@media screen and (max-width: 619px) {
  .banners__shape-triangle {
    left: 4.2rem;
  }
}
.banners__shape-triangle_desktop {
  border-top: 1.7rem solid #079a94;
  /* треугольник */
}
.banners__shape-triangle_tablet {
  border-top: 1.7rem solid #048989;
  /* треугольник */
}
.banners__shape-triangle_mobile {
  border-top: 1.7rem solid #017d82;
  /* треугольник */
}
.banners__shape_desktop {
  background: url("../media/images/Shape desktop.png"), #079a94;
  background-position: center;
  background-repeat: no-repeat;
}
.banners__shape_tablet {
  background: url("../media/images/Shape tablet.png"), #048989;
  background-position: center;
  background-repeat: no-repeat;
}
.banners__shape_mobile {
  background: url("../media/images/Shape mobile.png"), #017d82;
  background-position: center;
  background-repeat: no-repeat;
}
.banners__shape_search {
  background: url("../media/images/Shape-search.png"), #01646c;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 619px) {
  .banners__shape_search {
    background-size: 90%;
  }
}
.banners__shape_on {
  background: url("../media/images/Shape-on.png"), #097b84;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 619px) {
  .banners__shape_on {
    background-size: 85%;
  }
}
.banners__shape_apple {
  background: url("../media/images/Shape-apple.png"), #118f99;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 619px) {
  .banners__shape_apple {
    background-size: 84%;
  }
}
.banners__shape_shopping {
  background: url("../media/images/Shape-shopping.png"), #1da0aa;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 619px) {
  .banners__shape_shopping {
    background-size: 90%;
  }
}
.banners__shape_lock {
  background: url("../media/images/Shape-lock.png"), #29b7c2;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 619px) {
  .banners__shape_lock {
    background-size: 80%;
  }
}
.banners__shape_star {
  background: url("../media/images/Shape-star.png"), #3ccad5;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 619px) {
  .banners__shape_star {
    background-size: 90%;
  }
}
.banners__banner {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
}
.banner {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  background-image: linear-gradient(to bottom right, #00727c 2rem, #10ceb5);
}
.banner_search {
  background-image: linear-gradient(to bottom right, #01646c 20%, #0aa599 85%, #09a097);
}
.banner_on {
  background-image: linear-gradient(to bottom right, #01646c, #097b84 16%, #097b84 38%, #0aa599 85%, #09a097);
}
.banner_apple {
  background-image: linear-gradient(to bottom right, #01646c, #118f99 27%, #118f99 45%, #0aa599 85%, #09a097);
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner_apple {
    background-image: linear-gradient(to bottom right, #01646c, #118f99 25%, #118f99 43%, #0aa599 85%, #09a097);
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner_apple {
    background-image: linear-gradient(to bottom right, #01646c, #118f99 23%, #118f99 41%, #0aa599 85%, #09a097);
  }
}
@media screen and (max-width: 619px) {
  .banner_apple {
    background-image: linear-gradient(to bottom right, #01646c, #118f99 23%, #118f99 41%, #0aa599 85%, #09a097);
  }
}
.banner_shopping {
  background-image: linear-gradient(to bottom right, #01646c, #1da0aa 35%, #1da0aa 48%, #0aa599 85%, #09a097);
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner_shopping {
    background-image: linear-gradient(to bottom right, #01646c, #1da0aa 33%, #1da0aa 45%, #0aa599 85%, #09a097);
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner_shopping {
    background-image: linear-gradient(to bottom right, #01646c, #1da0aa 31%, #1da0aa 42%, #0aa599 85%, #09a097);
  }
}
@media screen and (max-width: 619px) {
  .banner_shopping {
    background-image: linear-gradient(to bottom right, #01646c, #1da0aa 31%, #1da0aa 42%, #0aa599 85%, #09a097);
  }
}
.banner_lock {
  background-image: linear-gradient(to bottom right, #01646c, #29b7c2 46%, #29b7c2 58%, #09a097);
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner_lock {
    background-image: linear-gradient(to bottom right, #01646c, #29b7c2 42%, #29b7c2 52%, #09a097);
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner_lock {
    background-image: linear-gradient(to bottom right, #01646c, #29b7c2 40%, #29b7c2 50%, #09a097);
  }
}
@media screen and (max-width: 619px) {
  .banner_lock {
    background-image: linear-gradient(to bottom right, #01646c, #29b7c2 40%, #29b7c2 50%, #09a097);
  }
}
.banner_star {
  background-image: linear-gradient(to bottom right, #01646c, #3ccad5 55%, #3ccad5 68%, #09a097);
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner_star {
    background-image: linear-gradient(to bottom right, #01646c, #3ccad5 50%, #3ccad5 63%, #09a097);
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner_star {
    background-image: linear-gradient(to bottom right, #01646c, #3ccad5 48%, #3ccad5 59%, #09a097);
  }
}
@media screen and (max-width: 619px) {
  .banner_star {
    background-image: linear-gradient(to bottom right, #01646c, #3ccad5 48%, #3ccad5 59%, #09a097);
  }
}
.banner__circle {
  position: absolute;
  border-radius: 50%;
  background-color: #13b9ab;
}
.banner__circle_big {
  top: 4.8rem;
  left: 19.6rem;
  height: 45.2rem;
  width: 45.2rem;
  opacity: 0.2;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banner__circle_big {
    left: 7.6rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner__circle_big {
    top: 11.8rem;
    left: 15.6rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner__circle_big {
    top: 11.8rem;
    left: 8.6rem;
  }
}
@media screen and (max-width: 619px) {
  .banner__circle_big {
    top: 12.8rem;
    left: 4.7rem;
    height: 22.6rem;
    width: 22.6rem;
  }
}
.banner__circle_middle {
  top: 7.8rem;
  left: 22.5rem;
  height: 39.4rem;
  width: 39.4rem;
  opacity: 0.2;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banner__circle_middle {
    left: 10.5rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner__circle_middle {
    top: 14.8rem;
    left: 18.5rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner__circle_middle {
    top: 14.8rem;
    left: 11.5rem;
  }
}
@media screen and (max-width: 619px) {
  .banner__circle_middle {
    top: 14.25rem;
    left: 6.15rem;
    height: 19.7rem;
    width: 19.7rem;
  }
}
.banner__circle_small {
  top: 11.1rem;
  left: 25.5rem;
  height: 33.4rem;
  width: 33.4rem;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banner__circle_small {
    left: 13.5rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner__circle_small {
    top: 18.1rem;
    left: 21.5rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner__circle_small {
    top: 18.1rem;
    left: 14.5rem;
  }
}
@media screen and (max-width: 619px) {
  .banner__circle_small {
    top: 15.75rem;
    left: 7.65rem;
    height: 16.7rem;
    width: 16.7rem;
  }
}
.banner__image {
  position: absolute;
}
.banner__image_desktop {
  top: 9.9rem;
  left: 14rem;
  height: 33rem;
  width: 55.9rem;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banner__image_desktop {
    left: 2rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner__image_desktop {
    top: 17rem;
    left: 10rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner__image_desktop {
    top: 17rem;
    left: 3rem;
  }
}
@media screen and (max-width: 619px) {
  .banner__image_desktop {
    top: 17rem;
    left: 2rem;
    height: 16.5rem;
    width: 27.95rem;
  }
}
.banner__image_ipad {
  top: 6.2rem;
  left: 27.7rem;
  height: 40.6rem;
  width: 29rem;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banner__image_ipad {
    left: 15.7rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner__image_ipad {
    top: 14rem;
    left: 23.7rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner__image_ipad {
    top: 14rem;
    left: 16.7rem;
  }
}
@media screen and (max-width: 619px) {
  .banner__image_ipad {
    top: 14rem;
    left: 8.75rem;
    height: 20.3rem;
    width: 14.5rem;
  }
}
.banner__image_iphone {
  top: 5.9rem;
  left: 29.6rem;
  width: 25.6rem;
  height: 44.6rem;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banner__image_iphone {
    left: 17.6rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner__image_iphone {
    top: 13rem;
    left: 25.6rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner__image_iphone {
    top: 13rem;
    left: 18.6rem;
  }
}
@media screen and (max-width: 619px) {
  .banner__image_iphone {
    top: 13rem;
    left: 9.6rem;
    width: 12.8rem;
    height: 22.3rem;
  }
}
.banner__image_lower {
  top: 29.1rem;
  left: 17.1rem;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banner__image_lower {
    left: 2rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner__image_lower {
    top: 17rem;
    left: 10rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner__image_lower {
    top: 17rem;
    left: 3rem;
  }
}
@media screen and (max-width: 619px) {
  .banner__image_lower {
    top: 14rem;
    left: 2rem;
    height: 16.5rem;
    width: 27.95rem;
  }
}
.banner__banner-info {
  float: right;
  margin-right: 20.1rem;
  margin-top: 11.2rem;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banner__banner-info {
    margin-top: 14.2rem;
    margin-right: 5.1rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner__banner-info {
    float: none;
    margin-top: 60.2rem;
    margin-left: 20rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner__banner-info {
    float: none;
    margin-top: 60.2rem;
    margin-left: 15rem;
  }
}
@media screen and (max-width: 619px) {
  .banner__banner-info {
    float: none;
    margin-top: 40.2rem;
    margin-left: 3rem;
  }
}
.banner__banner-info_lower {
  margin-top: 29rem;
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner__banner-info_lower {
    float: none;
    margin-top: 55.2rem;
    margin-left: 20rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner__banner-info_lower {
    float: none;
    margin-top: 55.2rem;
    margin-left: 15rem;
  }
}
@media screen and (max-width: 619px) {
  .banner__banner-info_lower {
    float: none;
    margin-top: 35.2rem;
    margin-left: 3rem;
  }
}
.banner-info__shoecase {
  margin-top: 5.9rem;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .banner-info__shoecase {
    margin-top: 4.2rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .banner-info__shoecase {
    margin-top: 4.2rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .banner-info__shoecase {
    margin-top: 4.2rem;
  }
}
@media screen and (max-width: 619px) {
  .banner-info__shoecase {
    margin-top: 4.2rem;
  }
}
.title-app {
  width: 15.3rem;
  min-height: 5.5rem;
  text-transform: uppercase;
  font-family: "Segoe WP Light";
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.19;
  color: #ffffff;
}
.title-app__image {
  float: left;
  margin-right: 0.9rem;
  height: 5.5rem;
  width: 5.5rem;
  background-image: url("../media/images/Shape planet.png");
}
.shoecase {
  width: 35.5rem;
  font-family: "Segoe WP Light";
  font-weight: 300;
  color: #ffffff;
}
@media screen and (max-width: 619px) {
  .shoecase {
    width: 26rem;
  }
}
.shoecase__shoecase-name {
  margin: 0;
  text-transform: uppercase;
  font-size: 3.9rem;
}
.shoecase__shoecase-info {
  font-size: 1.7rem;
  line-height: 2.118;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .shoecase__shoecase-info {
    line-height: 1.9;
  }
}
.shoecase__btn {
  margin-top: 3rem;
}
.btn {
  display: block;
  height: 4.5rem;
  width: 17.2rem;
  line-height: 4.5rem;
  text-align: center;
  text-decoration: none;
  font-family: "Segoe WP Light";
  font-size: 2.1rem;
  font-weight: 300;
  color: #ffffff;
  background: #54d3c3;
  transition: box-shadow 200ms;
}
.btn:hover {
  -webkit-box-shadow: 0 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  box-shadow: 0 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
}
.btn:active {
  position: relative;
  top: 2px;
  -webkit-box-shadow: 0 0 5px rgba(33, 33, 33, 0.35);
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.35);
}
.btn__image {
  float: left;
  height: 4.5rem;
  width: 5.5rem;
  background: url("../media/images/Shopping Cart.png") center no-repeat, #259d8e;
}
.about {
  width: 92.2rem;
  padding-bottom: 12.4rem;
  text-align: center;
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .about {
    width: 70rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .about {
    width: 60rem;
  }
}
@media screen and (max-width: 619px) {
  .about {
    width: 30rem;
    padding-bottom: 6.2rem;
  }
}
.about__topic {
  font-family: "Segoe WP Light";
  font-size: 4.1rem;
  font-weight: 300;
  color: #565656;
}
.about__info {
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.467;
  color: #565656;
  opacity: 0.8;
}
.about__title-app-year {
  margin-top: 2.9rem;
  margin-left: 22.5rem;
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .about__title-app-year {
    margin-left: 15.5rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .about__title-app-year {
    margin-left: 8.5rem;
  }
}
@media screen and (max-width: 619px) {
  .about__title-app-year {
    margin-left: 3.5rem;
  }
}
.title-app-year {
  height: 42.1rem;
  width: 48.1rem;
  padding-top: 7rem;
  padding-right: 5.2rem;
  box-sizing: border-box;
  font-family: "NewAthenaUnicode";
  font-size: 8.8rem;
  line-height: 0.6;
  font-weight: 400;
  color: #ffffff;
  background: url("../media/images/backgr-for-app-year.png") center no-repeat;
}
@media screen and (max-width: 619px) {
  .title-app-year {
    height: 21.05rem;
    width: 24.05rem;
    padding-top: 3.5rem;
    padding-right: 2.6rem;
    font-size: 4.4rem;
    background-size: 24.05rem 21.05rem;
  }
}
.title-app-year__image-device {
  display: block;
  margin-left: 18.2rem;
  margin-bottom: 4rem;
  height: 10.3rem;
  width: 7.2rem;
}
@media screen and (max-width: 619px) {
  .title-app-year__image-device {
    margin-left: 9.1rem;
    margin-bottom: 2rem;
    height: 5.15rem;
    width: 3.6rem;
  }
}
.title-app-year__of-the-year {
  font-size: 4.2rem;
}
@media screen and (max-width: 619px) {
  .title-app-year__of-the-year {
    font-size: 2.1rem;
  }
}
.completed__completed-percent {
  float: left;
  margin-top: 0;
  margin-left: 19.9rem;
  width: 40.3rem;
  text-transform: uppercase;
  font-family: "Segoe WP Light";
  font-weight: 300;
  font-size: 7.4rem;
  line-height: 1.25;
  color: #49d7b0;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .completed__completed-percent {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .completed__completed-percent {
    margin-left: 4rem;
    width: 30.3rem;
    font-size: 5.5rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .completed__completed-percent {
    margin-bottom: 0;
    margin-left: 2rem;
    width: 27rem;
    font-size: 5rem;
  }
}
@media screen and (max-width: 619px) {
  .completed__completed-percent {
    float: none;
    margin: 0 auto;
    width: 27rem;
    font-size: 5rem;
  }
}
.completed__percent {
  font-family: "Segoe WP Black";
  font-size: 20rem;
  font-weight: 400;
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .completed__percent {
    font-size: 15rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .completed__percent {
    font-size: 12rem;
  }
}
@media screen and (max-width: 619px) {
  .completed__percent {
    font-size: 12rem;
  }
}
.completed__arrow {
  float: right;
  height: 51.3rem;
  width: 49.6rem;
  background: url("../media/images/arrows.png") center no-repeat, #49d7b0;
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .completed__arrow {
    height: 38.475rem;
    width: 37.2rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .completed__arrow {
    height: 31.23rem;
    width: 30.15rem;
  }
}
@media screen and (max-width: 619px) {
  .completed__arrow {
    float: none;
    height: 33rem;
    width: 32rem;
  }
}
.footer {
  height: 9.9rem;
  max-width: 128rem;
  border-top: 0.1rem solid #565656;
  margin: -10rem auto 0;
  /* верхний для прижания футера к низу экрана (равно футеру)*/
  text-align: center;
  line-height: 10rem;
  font-family: "Segoe WP Light";
  font-weight: 300;
  font-size: 2.3rem;
  color: #565656;
  opacity: 0.8;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .footer {
    max-width: 100rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .footer {
    max-width: 75rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 749px) {
  .footer {
    max-width: 62rem;
  }
}
@media screen and (max-width: 619px) {
  .footer {
    max-width: 32rem;
  }
}
.clr:after {
  content: "";
  height: 10rem;
  /*высота, равная футеру*/
  display: block;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/*# sourceMappingURL=main.css.map */